body{
    height: 100vh;
}

.content {
    display: none;
}

#Login {
    height: 100vh;
}

#map {
    height: 69vh;
}

#Profile {
    overflow: overlay;
    overflow-x: hidden;
}

#btnAdd{
    display: none;
}

.profile-label {
    font-weight: 500;
}

#Avi {
    width: 85%;
    height: 55%;
    max-width: 269px;
    max-height: 269px;
    /* height: 200px; */
}

.nav-link{
    color: white !important;
}

ul.nav.nav-tabs.bg-dark {
    margin-bottom: -8px;
}

.btn-primary {
    background-color: #9933CC !important;
}

.btn-follow {
    background-color: #E22F91 !important;
    color: white !important;
}

.btn-message {
    background-color: #623ECF !important;
    color: white !important;
}

.is-focused [class^=bmd-label] {
    color: #9933CC;
}

.is-focused .form-control {
    background-image: linear-gradient(0deg,#9933CC 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}

.bg-purple {
    /* background-color: #9933CC; */
    background: linear-gradient(#9933CC, black);
    width: 100%;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}