
<section class="shadow py-5 px-3">
    <h1 class="text-center mb-5">Login</h1>
    <form id="loginForm">
        <div class="form-group">
            <label for="userInput" class="bmd-label-floating">User Name</label>
            <input type="text" class="form-control" id="userInput">
            <span class="bmd-help">We'll never share your email with anyone else.</span>
        </div>
        <div class="form-group">
            <label for="passwordInput" class="bmd-label-floating">Password</label>
            <input type="password" class="form-control" id="passwordInput">
        </div>

        <button type="Sumbit" class="btn float-right btn-primary btn-raised">Login</button>
    </form>
    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
  
  <div id="status"></div>
</section>

<section class="shadow py-4 my-3 px-4">
    <h4 class="text-center">User List</h4>
    <div id="userList" class="my-auto text-center">
    </div>
</section>