<!-- <div id="holder" class="h-100"> -->
    <section class="bg-purple text-white pt-3 h-50 shadow-lg">
            <div class="row text-center">
                <div class="col-12">
                    <h4 id="welcome"></h4>
                </div>
                
            </div>
            
            <!-- <div class="row text-right">
                <div class="col-12">
                    <button type="button" class="btn btn-primary mr-3 bmd-btn-icon">
                        <i class="material-icons">edit</i>
                    </button>
                </div>
            </div> -->
    
            <div id="Avi" class="mx-auto my-3">
                <img id="pAvi" src="#" alt="profile-picture" class="rounded-circle w-100 h-100 testing">
            </div>
            <div class="text-center">
                <blockquote>"Everything is Life, Everything is Love"</blockquote>
            </div>
            <div class="text-center">
                <button id="fwBtn" class="btn btn-follow btn-raised mr-1">Follow</button>
                <button id="messBtn" class="btn btn-message btn-raised ml-1">Message</button>
            </div>
    
    </section>
    <section class="pt-5 text-center container">
        <div class="row">
            <label class="col profile-label" for="First Name">First Name</label>
            <p id="pFName" class="col">First Name</p>
        </div>
        <div class="row">
            <label class="col profile-label" for="Last Name">Last Name</label>
            <p id="pLName" class="col">Last Name</p>
        </div>
        <div class="row">
            <label class="col profile-label" for="Email">Email</label>
            <p id="pEmail" class="col">Email</p>
        </div>
        <div class="row">
            <label class="col profile-label" for="User Name">User Name</label>
            <p id="pUName" class="col">User Name</p> 
        </div>
        <div class="row">
            <label class="col profile-label" for="Favorite Song">Favorite Song</label>
            <p id="pFavSong" class="col">N/A</p> 
        </div>
    </section>
    <section class="container my-4">
        <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-auto-logout-link="true" data-use-continue-as="true"></div>
    </section>
<!-- </div> -->
